# See https://git-scm.com/docs/gitignore for more information
# Ignore Visual Studio temporary files
bin/
obj/
debug/
*.suo
*.user
*.tmp
*.pdb
*.cache
*.suo
*.sln.docstates

# Ignore Visual Studio/Xamarin output
**/bin/
**/obj/

# Ignore other IDE specific files
*.vshost.exe
*.appxrecipe
*.user
*.vspscc

# Ignore caches and logs
**/packages/